.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Calibri', sans-serif;
    font-size: 32px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin: 5px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gif {
    max-width: 300px; /* Adjust this to control the max width of the GIF container */
    text-align: center;
}

.gif img {
    max-width: 100%; /* Make sure the GIFs are responsive */
    height: auto;
}

.gif p {
    word-wrap: break-word;
    padding: 10px;
    font-size: 14px;
}

